h1,h2,h3,h4,p{
	color: black;
}


button {
				background-color: #333;
				color: #fff;
				padding: 0.5em, 1em;
				width: 263px; height: 50px;
			}

table ,th, td {
				border: 1px solid black;
				
			}
th, td {
	padding : 5px;
}

.button1{

}

.background{
				width : 1000px; height :800px;
}

